/* * {
    margin: 0;
    padding: 0;
    outline: 0.5px solid #319536;
} */

/* ----Day 10: Block vs Inline---- */
    /* div {display:inline;}*/
    /* h1, p{display: inline;} */

    /* 都偏向屬於block特性，其實還有li是list-item的特性 */
    /* ul{display:inline;} */
    /* li{display:inline} */

    /* a { */
        /* display: inline-block; */
        /* background-color: #ff0;
        width:100px;
        height:30px; */
        /* inline可以先不要討論長寬padding這些 */
        /* padding:40px 20px; */
    /* } */

/* ---- */
/*     .menu{
        background-color:rgb(245, 116, 24);
        text-align: center;
        font-size: 0px;
    }

    .menu a{
        color:white;
        display:inline-block;
        padding:10px 20px;
        text-decoration:none;
        background-color: rgb(245, 116, 24);
        font-size: 16px;
    }

    .menu a:hover{
        background-color:black;
    } */

/* ----Day 11: Box-Sizing---- */
/*     .wrap{
        width: 960px;
        margin:auto;
        background-color: #f00;
    }
    
    .clearfix{
        width: 100%;
        clear: both;
    }

    .item{
        width: 300px;
        margin: 10px;
        padding: 20px;
        border: 3px double #ccc;
        box-sizing: border-box;
        background-color: #fa9;
        float: left;
    } */


