@import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap');
body {
    background:#ccc;
    color #000;
    font-family: 'Noto Sans', sans-serif;
}

/*?? 都是調整card的文字而已，其他沒差*/
.card{
    font-size: 5rem;
    color: #333;
    -webkit-text-stroke: 2px #999;

    /*有了display justfy align排版才會有作用 */
    display: grid;
    justify-content: center;
    align-items: center;
    /* background-color:#aaff99; */
    border: 1px solid #000;
    border-radius: 10px;

/*     flex-direction: column;
    overflow: hidden;
    height: 100%;
    width: 100%;  */
}

.animated-grid{
    height: 90vh;
    margin-top: 5vh;

    display: grid;
    grid-template-areas: 
    "a b b c"
    "i b b d"
    "i b b e"
    "h g g f";
    /*?? 這vw跟auto搭配就可以，全部用vw組合成100就不行*/
    grid-template-columns: 200px auto auto 150px;
    gap: .8em;

    --card-delay: 100ms;
}

@keyframes showUpCard {
    0% {
        opacity: 0;
        transform: scale(1,0);
        filter: hue-rotate(90deg);
    }
    100% {
        opacity: 1;
        transform: scale(1,1);
        filter: hue-rotate(0deg);
    }
}
.card {
    /* animation: showUpCard 1s 0s ease-out; */
    animation-name: showUpCard;
    animation-duration: 1s;
    /*forward停留動畫最後結果，或是backwards停留在html初始狀態*/
    animation-fill-mode: backwards;
    transition-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
}

.card:nth-child(1){grid-area: a; animation-delay: calc(1 * var(--card-delay));}
.card:nth-child(2){grid-area: b; animation-delay: calc(9 * var(--card-delay));}
.card:nth-child(3){grid-area: c; animation-delay: calc(2 * var(--card-delay))}
.card:nth-child(4){grid-area: d; animation-delay: calc(3 * var(--card-delay))}
.card:nth-child(5){grid-area: e; animation-delay: calc(4 * var(--card-delay))}
.card:nth-child(6){grid-area: f; animation-delay: calc(5 * var(--card-delay))}
.card:nth-child(7){grid-area: g; animation-delay: calc(6 * var(--card-delay))}
.card:nth-child(8){grid-area: h; animation-delay: calc(7 * var(--card-delay))}
.card:nth-child(9){grid-area: i; animation-delay: calc(8 * var(--card-delay))}